.singleButton_wrapper {
    display: flex;
    justify-content: flex-end;
}

.singleButton {
    background-color: #2E71FF;
    border-radius: 12px;
    min-width: 126px;
    max-width: 126px;
    padding: 15px 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.1rem;
    border: none;
    outline: none;
    color: #FFF;
}